{{ define "main" }}
<h1>About</h1>
<p>
Hey, I'm Mikey. Data analysis is my main thing, but I love exploring any project or idea that spikes my interest! I hold a Master's in Mathematics from the University of Sheffield, and I'm always up for a chat :).   <a href="about/">(more)</a>
</p>
<br/>
<h1>Latest projects</h1>
<div class="posts-list">
{{ with .Site.GetPage "/projects" }}
    {{ range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .Date | time.Format ":date_medium" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>
    {{ end }}
    {{ if gt (len .Pages) 3 }}
    <p><a href="{{ .Permalink }}">See more projects →</a></p>
    {{ end }}
{{ end }}
</div>
<h1>Latest blog posts</h1>
<div class="posts-list">
{{ with .Site.GetPage "/blog" }}
    {{ range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .Date | time.Format ":date_medium" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>
    {{ end }}
    {{ if gt (len .Pages) 3 }}
    <p><a href="{{ .Permalink }}">See more posts →</a></p>
    {{ end }}
{{ end }}
</div>
{{ end }}
